
-- look around in JDE metadata to find useful information

SELECT * from OPENQUERY (ESYS_PROD, '	
	SELECT 
		TABLE_NAME  
		,TABLE_TYPE
		,COLUMN_COUNT
		,ROW_LENGTH
		,TABLE_TEXT
		,TABLE_SCHEMA
		,LAST_ALTERED_TIMESTAMP

	FROM
		QSYS2.SYSTABLES
	WHERE
--		TABLE_SCHEMA like ''ARCPCOM71'' AND
--		TABLE_NAME like (''F555182'') AND
--		TABLE_NAME in(''F0013'', ''F0014'', ''F0015'', ''F0111'', ''F0115'', ''F0301'', ''F0401'', ''F40205'', ''F4102'', ''F4104'', ''F4105'', ''F5501'', ''F550101'', ''F5503'', ''F55384'', ''F55385'', ''F55386'', ''F554012'', ''F5540122'', ''F554070'', ''F55510'', ''F55512'', ''F55520'', ''F5602'', ''F5604'', ''F5611'', ''F5614'', ''F5640314'', ''F5641'', ''F56416'', ''F564209'', ''F56961'', ''F5698'', ''F5830'', ''F5831'', ''F5832'', ''F5833'', ''F5834'', ''F5840122'', ''F5840123'', ''F5840124'', ''F5844'', ''F5865'', ''F660102'', ''F0005'', ''F0101'', ''F0150'', ''F4070'', ''F4072'', ''F4094'', ''F4101'', ''F41061'', ''F5613'', ''F5656'') AND
		TABLE_TYPE = ''P'' AND
--		TABLE_TEXT LIKE (''%CAT%'')
		TABLE_SCHEMA = ''ESEND'' AND
--		TABLE_SCHEMA = ''ARCPDTA71'' AND
--		TABLE_NAME in(''F9210'') AND
		(1=1)

	ORDER BY 7 DESC
')


SELECT * from OPENQUERY (ESYS_PROD, '	
	SELECT
		COLUMN_NAME 
		,TABLE_NAME
		,ORDINAL_POSITION
		,DATA_TYPE
		,LENGTH
		, NUMERIC_PRECISION
		,NUMERIC_PRECISION_RADIX
		,COLUMN_TEXT
	FROM
		QSYS2.SYSCOLUMNS
	WHERE
		TABLE_SCHEMA=''ESEND'' AND
--		TABLE_NAME in( ''F9210'')
		TABLE_NAME IN(''PDFSPLDB'', ''PDFSPLF'', ''RPTRULES'', ''RPTRULESH'', ''ESNDCPF'', ''ESNDDSTP'', 
''ESNDJRNP'', ''ESNDPF'', ''ESNDSGNP'', ''ESPLFWD'', ''EFTPDEPF'', ''EFTPSECP'', 
''ESNDABUP'', ''ESNDADRP'', ''DSPSPLPF'', ''MNUCMDE'', ''OPTFILEE'', ''QTXTSRC'')

    ORDER BY 
        TABLE_NAME, ORDINAL_POSITION
')


