USE [BRSales]
GO
ALTER DATABASE [BRSales] MODIFY FILE (NAME=N'Daily_Sales', NEWNAME=N'BRS_Primary')
GO
USE [BRSales]
GO
ALTER DATABASE [BRSales] MODIFY FILE (NAME=N'Daily_Sales_log', NEWNAME=N'BRS_Log')
GO
USE [master]
GO
ALTER DATABASE [BRSales] ADD FILEGROUP [USERDATA]
GO
ALTER DATABASE [BRSales] ADD FILE ( NAME = N'BRS_UserData', FILENAME = N'D:\SQLData\Data\BRSales_UserData.ndf' , SIZE = 8192KB , FILEGROWTH = 65536KB ) TO FILEGROUP [USERDATA]
GO
USE [BRSales]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'USERDATA') ALTER DATABASE [BRSales] MODIFY FILEGROUP [USERDATA] DEFAULT
GO
USE [master]
GO

--

USE [BRSales]
GO
CREATE SCHEMA [Integration] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [Pricing] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [Fact] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [Dimension] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [Sales] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [Application] AUTHORIZATION [dbo]
GO

