
SELECT * from OPENQUERY (ESYS_QA, '	
	SELECT
		TABLE_NAME  
		,TABLE_TYPE
		,COLUMN_COUNT
		,ROW_LENGTH
		,TABLE_TEXT
		,TABLE_SCHEMA
		,LAST_ALTERED_TIMESTAMP
	FROM
		QSYS2.SYSTABLES
	WHERE
--		TABLE_SCHEMA in (''ARCPDTA93'', ''ARCPCOM93'')  AND
--		TABLE_SCHEMA LIKE (''ARCPCOM93'') AND
--		TABLE_SCHEMA LIKE (''ARC%'') AND
--		TABLE_NAME in( ''F9210'', ''F9202'', ''F4072'', ''F4101'', ''F5613'', ''F4072'', ''F4094'', ''F5830'', ''F5831'', ''F5832'', ''F8444'', ''F4211'', ''F4101'', ''F5505'', ''F42119'', ''F55059'' ) 
		TABLE_NAME like ''F5503%'' 
	ORDER BY 1, 7 DESC
')


SELECT * from OPENQUERY (ESYS_QA, '	
	SELECT
		FRDTAI	AS COLUMN_NAME
		,FRDSCR AS COLUMN_TEXT
	FROM
		ARCPCOM93.F9202
	WHERE
		FRLNGP = '''' AND
		FRSYR = ''''
')



SELECT * from OPENQUERY (ESYS_QA, '	
	SELECT
		*
	FROM
		ARCPCOM93.F9210
')



SELECT * from OPENQUERY (ESYS_QA, '	
	SELECT
		COLUMN_NAME 
		,TABLE_NAME
		,ORDINAL_POSITION
		,DATA_TYPE
		,LENGTH
		, NUMERIC_PRECISION
		,NUMERIC_PRECISION_RADIX
		,COLUMN_TEXT
	FROM
		QSYS2.SYSCOLUMNS
	WHERE
		TABLE_SCHEMA=''ARCPCOM93'' AND
		TABLE_NAME in( ''F9210'')
    ORDER BY 
        TABLE_NAME, ORDINAL_POSITION
')


SELECT 
	"FRDTAI" AS data_item
	,"FRDTAT" AS data_item_type
	,"FROWTP" AS data_type
	,"FRDTAS" AS data_item_size
	,"FRCDEC" AS display_decimals
    
FROM 

    OPENQUERY (ESYS_QA, '

	SELECT
		FRDTAI
		,FRDTAT
		,FROWTP
		,FRDTAS
		,FRCDEC
        
	FROM
		ARCPCOM93.F9210
')



SELECT 

   *
    
FROM 

    OPENQUERY (ESYS_QA, '

	SELECT
		CONCAT(CONCAT(''1'',SUBSTR(CHAR(YEAR(''1980-01-01'')),3,2)), SUBSTR(CHAR(DIGITS(DAYOFYEAR(''1980-01-01''))),8,3)) as dt
		FROM ARCPCOM93.F9210
')


-- QA

SELECT 
	"FRDTAI"					AS data_item
	,"FRDTAT"					AS data_item_type
	,"FROWTP"					AS data_type
	,"FRDTAS"					AS data_item_size
	,ISNULL("FRCDEC", 0)		AS display_decimals
	,ISNULL("FRDSCR", 'zNA')	AS row_description 
    
FROM 

    OPENQUERY (ESYS_QA, '

	SELECT
		t.FRDTAI
		,FRDTAT
		,FROWTP
		,FRDTAS
		,FRCDEC
		,FRDSCR
	FROM
		ARCPCOM93.F9210 t
		LEFT JOIN ARCPCOM93.F9202 d
		ON t.FRDTAI = d.FRDTAI AND
			d.FRLNGP = '''' AND
			d.FRSYR = ''''  
')




--

/*
--  OE pull
SELECT 
'CURRENT' AS STATUS, 
SDDOC RI, 
SDDOCO DOCUMENT, 
SDDCTO TYPE, 
SDAN8 BILLTO, 
SDSHAN SHIPTO, 
CHAR((DATE(DIGITS(DEC(SDTRDJ+ 1900000,7,0))))) ORD_DATE, 
CHAR((DATE(DIGITS(DEC(SDDGL+ 1900000,7,0))))) GL_DATE, 


BIDCLEANSTRING(CHAR(GIMLNM,200)) MAILNAME_1, 
BIDCLEANSTRING(CHAR(GIADD1,200)) MAILNAME_2, 
BIDCLEANSTRING(CHAR(GIADD3,200)) ADDRESS_1, 
BIDCLEANSTRING(CHAR(GIADD4,200)) ADDRESS_2, 
GICTY1 CITY, 
GIADDS STATE, 
GIADDZ ZIP, 
GICTR COUNTRY, 
SDLITM ITEM, 
SDLNTY ORD_LINE_TYP, 
BIDCLEANSTRING(CHAR(SDDSC1,200)) DESCRIPTION, 
SDVEND VENDOR, 
SDSOQS QUANTITY, 
CAST((SDAEXP-SDURAT)/100 AS DEC(13,2)) AMOUNT, 
CAST((SDECST)/100 AS DEC(13,2)) EXTENDED_COST, 
IFNULL(IMSRP6,'') ITEM_MFG, 
IFNULL(IMSRP8,'') ITEM_VENDOR, 
IFNULL(IMSRP7,'') 
ITEM_CLASS, 
IFNULL(IMSTKT,'') 
ITEM_STOCK, 
IFNULL(IMLNTY,'') 
ITEM_LINE_TYPE, 
COALESCE((SELECT MAX(UPPER(TRIM(IVCITM))) FROM F4104 WHERE IVITM = IMITM AND IVXRT = 'M' AND IVCITM > ' '), ' ') MFG_ITEM 
FROM F4211 
LEFT OUTER JOIN F4101J@ 
ON SDLITM = IMLITM 

LEFT OUTER JOIN F5505 
ON SDDOCO = GIDOCO AND 
	SDDCTO = GIDCTO AND 
	SDKCOO = GIKCOO 
WHERE 
SDDOC > 0 AND 
SDDGL > 0 AND 
(GI$ANT = 'S' OR 
	GI$ANT IS NULL) AND 
SDAN8 IN (SELECT * FROM QTEMP.QSDAN8) AND 
SDDGL >= 80001 AND SDDGL <= 117057 

UNION 
SELECT 'HISTORY' AS STATUS, SDDOC RI, SDDOCO DOCUMENT, SDDCTO TYPE, SDAN8 BILLTO, SDSHAN SHIPTO, CHAR((DATE(DIGITS(DEC(SDTRDJ+ 1900000,7,0))))) ORD_DATE, CHAR((DATE(DIGITS(DEC(SDDGL+ 1900000,7,0))))) GL_DATE, BIDCLEANSTRING(CHAR(GIMLNM,200)) MAILNAME_1, BIDCLEANSTRING(CHAR(GIADD1,200)) MAILNAME_2, BIDCLEANSTRING(CHAR(GIADD3,200)) ADDRESS_1, BIDCLEANSTRING(CHAR(GIADD4,200)) ADDRESS_2, GICTY1 CITY, GIADDS STATE, GIADDZ ZIP, GICTR COUNTRY, SDLITM ITEM, SDLNTY ORD_LINE_TYP, BIDCLEANSTRING(CHAR(SDDSC1,200)) DESCRIPTION, SDVEND VENDOR, SDSOQS QUANTITY, CAST((SDAEXP-SDURAT)/100 AS DEC(13,2)) AMOUNT, CAST((SDECST)/100 AS DEC(13,2)) EXTENDED_COST, IFNULL(IMSRP6,'') ITEM_MFG, IFNULL(IMSRP8,'') ITEM_VENDOR, IFNULL(IMSRP7,'') ITEM_CLASS, IFNULL(IMSTKT,'') ITEM_STOCK, IFNULL(IMLNTY,'') ITEM_LINE_TYPE, COALESCE((SELECT MAX(UPPER(TRIM(IVCITM))) FROM F4104 WHERE IVITM = IMITM AND IVXRT = 'M' AND IVCITM > ' '), ' ') MFG_ITEM 
FROM F42119 
LEFT OUTER JOIN F4101J@ ON SDLITM = IMLITM 
LEFT OUTER JOIN F55059 ON SDDOCO = GIDOCO AND SDDCTO = GIDCTO AND SDKCOO = GIKCOO 
WHERE SDDOC > 0 AND SDDGL > 0 AND (GI$ANT = 'S' OR GI$ANT IS NULL) AND SDAN8 IN (SELECT * FROM QTEMP.QSDAN8) AND SDDGL >= 80001 AND SDDGL <= 117057*/


SELECT 
O.SIMD,
A.TDOBNM , 
A.TDPSEQ ,
A.TDSQLC , 
A.TDOBND , 
B.FRDSCA 
FROM 
COPD7334.F98711 A , ARCPCOM71.F9203 B , OL7334.F9860 O 
WHERE 
A.TDOBND = B.FRDTAI AND 
A.TDOBNM = O.SIOBNM AND 
A.TDOBNM = ''F0911'' AND
B.FRSYR = '''' AND 
B.FRSCRN = '''' 

ORDER BY A.TDOBNM,A.TDPSEQ


DSPFFD FILE(WM*) OUTPUT(*OUTFILE) OUTFILE(QTEMP/MYFILE) 


adast = 'CORPRICE' and 	adeftj <= CONCAT(CONCAT('1',SUBSTR(CHAR(YEAR(CURRENT_DATE)),3,2)), SUBSTR(CHAR(DIGITS(DAYOFYEAR(CURRENT_DATE))),8,3)) and adexdj >= CONCAT(CONCAT('1',SUBSTR(CHAR(YEAR(CURRENT_DATE)),3,2)), SUBSTR(CHAR(DIGITS(DAYOFYEAR(CURRENT_DATE))),8,3)) 


ADAST, ADITM, ADLITM, ADAITM, ADAN8, ADICID, ADSDGR, ADSDV1, ADSDV2, ADSDV3, ADCRCD, ADUOM, ADMNQ