-- DEV APPLIED

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

drop table [BRS_AGG_CDBGAD_Sales]
GO

CREATE TABLE [dbo].[BRS_AGG_CDBGAD_Sales](
	[SalesDate] [datetime] NOT NULL,

	[Branch] [char](5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[GLBU_Class] [char](5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AdjCode] [char](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SalesDivision] [char](3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Shipto] [int] NOT NULL,
	[FreeGoodsEstInd] [bit] NOT NULL,
	[OrderSourceCode] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SalesAmt] [money] NOT NULL,
	[GPAmt] [money] NOT NULL,

	[GP_Org_Amt] [money] NOT NULL,
    [ExtChargebackAmt] [money] NOT NULL,

	[FactCount] [int] NOT NULL,
	[HIST_Specialty] [char](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL CONSTRAINT [DF_BRS_AGG_CDBGAD_Sales_HIST_Specialty]  DEFAULT (''),
	[HIST_MarketClass] [char](6) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL CONSTRAINT [DF_BRS_AGG_CDBGAD_Sales_HIST_MarketClass]  DEFAULT (''),
	[HIST_TerritoryCd] [char](5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL CONSTRAINT [DF_BRS_AGG_CDBGAD_Sales_HIST_TerritoryCd]  DEFAULT (''),
	[HIST_VPA] [char](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL CONSTRAINT [DF_BRS_AGG_CDBGAD_Sales_HIST_VPA]  DEFAULT (''),
	[ID_MAX] [int] NOT NULL CONSTRAINT [DF_BRS_AGG_CDBGAD_Sales_ID_MAX]  DEFAULT ((0)),
	[HIST_SegCd] [char](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL CONSTRAINT [DF_BRS_AGG_CDBGAD_Sales_HIST_SegCd]  DEFAULT (''),
 CONSTRAINT [BRS_AGG_CDBGAD_Sales_c_pk] PRIMARY KEY CLUSTERED 
(
    [SalesDate] ASC,
	[Branch] ASC,
	[GLBU_Class] ASC,
	[AdjCode] ASC,
	[SalesDivision] ASC,
	[Shipto] ASC,
	[FreeGoodsEstInd] ASC,
	[OrderSourceCode] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales]  WITH CHECK ADD  CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_AdjCode] FOREIGN KEY([AdjCode])
REFERENCES [dbo].[BRS_AdjCode] ([AdjCode])
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales] CHECK CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_AdjCode]
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales]  WITH CHECK ADD  CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_Branch] FOREIGN KEY([Branch])
REFERENCES [dbo].[BRS_Branch] ([Branch])
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales] CHECK CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_Branch]
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales]  WITH CHECK ADD  CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_BusinessUnitClass] FOREIGN KEY([GLBU_Class])
REFERENCES [dbo].[BRS_BusinessUnitClass] ([GLBU_Class])
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales] CHECK CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_BusinessUnitClass]
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales]  WITH CHECK ADD  CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_CustomerMarketClass] FOREIGN KEY([HIST_MarketClass])
REFERENCES [dbo].[BRS_CustomerMarketClass] ([MarketClass])
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales] CHECK CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_CustomerMarketClass]
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales]  WITH CHECK ADD  CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_CustomerSpecialty] FOREIGN KEY([HIST_Specialty])
REFERENCES [dbo].[BRS_CustomerSpecialty] ([Specialty])
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales] CHECK CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_CustomerSpecialty]
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales]  WITH CHECK ADD  CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_CustomerVPA] FOREIGN KEY([HIST_VPA])
REFERENCES [dbo].[BRS_CustomerVPA] ([VPA])
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales] CHECK CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_CustomerVPA]
GO

ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales]  WITH CHECK ADD  CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_FSC_Rollup] FOREIGN KEY([HIST_TerritoryCd])
REFERENCES [dbo].[BRS_FSC_Rollup] ([TerritoryCd])
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales] CHECK CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_FSC_Rollup]
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales]  WITH CHECK ADD  CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_OrderSource] FOREIGN KEY([OrderSourceCode])
REFERENCES [dbo].[BRS_OrderSource] ([OrderSourceCode])
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales] CHECK CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_OrderSource]
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales]  WITH CHECK ADD  CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_SalesDivision] FOREIGN KEY([SalesDivision])
REFERENCES [dbo].[BRS_SalesDivision] ([SalesDivision])
GO
ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales] CHECK CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_SalesDivision]

ALTER TABLE [dbo].[BRS_AGG_CDBGAD_Sales]  WITH CHECK ADD  CONSTRAINT [FK_BRS_AGG_CDBGAD_Sales_BRS_SalesDay] FOREIGN KEY([SalesDate])
REFERENCES [dbo].[BRS_SalesDay] ([SalesDate])
GO



--
TRUNCATE TABLE BRS_AGG_CMBGAD_Sales
GO

-- Add Fields

ALTER TABLE dbo.BRS_AGG_CMBGAD_Sales ADD
	GP_Org_Amt money NOT NULL CONSTRAINT DF_BRS_AGG_CMBGAD_Sales_GP_Org_Amt DEFAULT 0,
	ExtChargebackAmt money NOT NULL CONSTRAINT DF_BRS_AGG_CMBGAD_Sales_ExtChargebackAmt DEFAULT 0
GO

-- Add indexes


/****** Object:  Index [BRS_AGG_CDBGAD_Sales_idx_01]    Script Date: 01/19/2017 20:29:35 ******/
CREATE NONCLUSTERED INDEX [BRS_AGG_CDBGAD_Sales_idx_01] ON [dbo].[BRS_AGG_CDBGAD_Sales] 
(
	[HIST_Specialty] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

/****** Object:  Index [BRS_AGG_CDBGAD_Sales_idx_02]    Script Date: 01/19/2017 20:29:35 ******/
CREATE NONCLUSTERED INDEX [BRS_AGG_CDBGAD_Sales_idx_02] ON [dbo].[BRS_AGG_CDBGAD_Sales] 
(
	[Branch] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

/****** Object:  Index [BRS_AGG_CDBGAD_Sales_idx_03]    Script Date: 01/19/2017 20:29:35 ******/
CREATE NONCLUSTERED INDEX [BRS_AGG_CDBGAD_Sales_idx_03] ON [dbo].[BRS_AGG_CDBGAD_Sales] 
(
	[GLBU_Class] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

/****** Object:  Index [BRS_AGG_CDBGAD_Sales_idx_04]    Script Date: 01/19/2017 20:29:35 ******/
CREATE NONCLUSTERED INDEX [BRS_AGG_CDBGAD_Sales_idx_04] ON [dbo].[BRS_AGG_CDBGAD_Sales] 
(
	[AdjCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

/****** Object:  Index [BRS_AGG_CDBGAD_Sales_idx_05]    Script Date: 01/19/2017 20:29:35 ******/
CREATE NONCLUSTERED INDEX [BRS_AGG_CDBGAD_Sales_idx_05] ON [dbo].[BRS_AGG_CDBGAD_Sales] 
(
	[SalesDivision] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

/****** Object:  Index [BRS_AGG_CDBGAD_Sales_idx_06]    Script Date: 01/19/2017 20:29:35 ******/
CREATE NONCLUSTERED INDEX [BRS_AGG_CDBGAD_Sales_idx_06] ON [dbo].[BRS_AGG_CDBGAD_Sales] 
(
	[OrderSourceCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

/****** Object:  Index [BRS_AGG_CDBGAD_Sales_idx_07]    Script Date: 01/19/2017 20:29:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [BRS_AGG_CDBGAD_Sales_idx_07] ON [dbo].[BRS_AGG_CDBGAD_Sales] 
(
	[ID_MAX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
